<!-- Grid row -->
<div id="heading" class="container">
  <h1>THE GREAT QUOTES</h1>

</div>

<div class="row">
  

  <div class="col-md-6 mb-4">
    <div id="formCard" class="card" style="padding-top: 10%">
      <div class="card-body">

        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
          <h2 class="text-center py-4 font-bold font-up pink-text">Add a Quote</h2>
          <div class="md-form">
            <i class="fa fa-user prefix pink-text"></i>
            <label for="Name">Your name</label><br>
            <input type="text" id="name" [(ngModel)]='newQuote.name' #name='ngModel' class="form-control" name="name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Name is required</p>
            </div>

          </div>

          <div class="md-form">

            <i class="fa fa-pencil prefix pink-text"></i>
            <label for="Quote">Your Quote</label><br>
            <textarea type="text" id="quoteActual" [(ngModel)]='newQuote.quoteActual' class="md-textarea" rows="5"
              name="quoteActual" #quoteActual='ngModel' required></textarea>

            <div [hidden]="quoteActual.valid || quoteActual.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>

          </div>

          <div class="md-form">
            <i class="fa fa-tag prefix pink-text"></i>
            <label for="Author">Author</label><br>
            <input type="text" id="author" [(ngModel)]='newQuote.author' class="form-control" name="author"
              #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Author is required</p>
            </div>

          </div>

          <div class="md-form">
            <i class="fa fa-calendar prefix pink-text"></i>

            <label for="date">Date</label>
            <br>
            <br>
            <input type='date' id="countDate" [(ngModel)]="newQuote.countDate" name="countDate" #countDate="ngModel"
              required>
            <div [hidden]="countDate.valid || countDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-outline-danger btn-lg">SUBMIT</button>
          </div>
        </form>

      </div>
    </div>
  </div>


</div>

<hr class="my-4">







<!--MDB Forms-->