<div id="main">
  <div class="container">
    <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>


  </div>

  <div class="container">
    <div id="heading">
      <h1 id="quotes">Quotes</h1>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card border-danger bg-transparent" *ngFor='let quote of quotes; let i = index'>
            <h4 id="quote" class="card-title" (click)='toggleDetails(i)'>{{quote.quoteActual}}</h4>

            <div class="card-body text-pink" *ngIf='quote.showDescription'>
              <app-quotes-details [quote]='quote' (isDelete)='deleteQuote($event,i)'></app-quotes-details>
            </div>


          </div>

        </div>
        <div class="col-md-2">

        </div>
      </div>




      <hr>

    </div>



  </div>

</div>