<div class="container">
  <div id="heading">
    <h3 id="quotes">Quotes</h3>
  </div>

  <div class="container">




    <app-quotes-form (addQuote)='addNewQuote($event)'></app-quotes-form>



  </div>



  <div class="container">
    <div class="card" *ngFor='let quote of quotes; let i = index'>
      <div class="card-header" (click)='toggleDetails(i)'>
        <span>{{quote.quoteActual}}</span>
      </div>
      <div class="card-body" *ngIf='quote.showDescription'>
        <app-quotes-details [quote]='quote' (isDelete) = 'deleteQuote($event,i)'></app-quotes-details>
      </div>


    </div>
    <hr>

  </div>



</div>